<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Soli - Velas Aromáricas</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <nav id="menu-nav">
    <img src="img/logo.png" id="logo" />

    <div id="menu">
      <a class="menu-option" href="#">HOME</a>
      <a class="menu-option" href="#">PRODUTOS</a>
      <a class="menu-option" href="#">SOBRE NÓS</a>
      <a class="menu-option" href="#">ATACADO</a>
    </div>
  </nav>

  <div class="container">
    <div class="branquino">
      <h2>PRODUTOS</h2>
      <div class="row">
  
        <div class="card">
          <img src="img/vasinho.webp" id="product" />
          <p>R$ 2,99</p>
          <p>Vasinho de cimento, tamanho: 7 x 2,5 x 9</p>
        </div>
  
        <div class="card">
          <img src="img/vasinho.webp" id="product" />
          <p>R$ 2,99</p>
          <p>Vasinho de cimento, tamanho: 7 x 2,5 x 9</p>
        </div>
  
        <div class="card">
          <img src="img/vasinho.webp" id="product" />
          <p>R$ 2,99</p>
          <p>Vasinho de cimento, tamanho: 7 x 2,5 x 9</p>
        </div>
  
      </div>
    </div>
  </div>
  
  <br><br><br><br><br><br><br><br>



</body>

<!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../src/index.js"></script>-->

</html>