body{
    top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
    background-color: #D3D3D3;
}


.container{
    display: flex;
	align-items: center;
	justify-content: center;
}
.branquino{
    background-color: white;
    width: 97%;
}

#logo {
    width: 15vw; 
    height: 10vw;
    margin-top: 1%;
    margin-left: 3%;
}

#menu {
    width: 60vw;
    height: 10vw;
    float: right;
    display: flex;
	align-items: center;
	justify-content: center;
    
}

h2 {
    text-align: center;
    margin-top: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
}

.menu-option{
    margin-right: 10%;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
}

/*================*/

.row{
    display: flex;
	align-items: center;
	justify-content: center;
    width: 100%;
}

.card{
    background-color: #D3D3D3;
    width: 40vh;
    height: 60vh;
    margin: 5%;
    text-align: start;
    

}

.card #product{
    width: 35vh; 
    height: 40vh;
    padding-top: 5%;
    
}
